<link rel="stylesheet" href="../Styles.css" />


<h2>Experiência Profissional</h2>
<center>
  <table border="1" cellpadding="5" cellspacing="1" width="90%">
    <tr>
      <th width="15%">Período</th>
      <th>Instituição</th>
      <th>Cargo</th>
      <th>Descrição</th>
    </tr>
    <tr>
      <td>2021 - 2022</td>
      <td>LIQ</td>
      <td>Backoffice</td>
      <td>
        Atuava como Backoffice da RAPPI.
      </td>
    </tr>
    <tr>
      <td>2022 - Atual</td>
      <td>Provider</td>
      <td>Operadora de telemarketing</td>
      <td>Atua de forma receptiva para o INSS </td>
    </tr>
  </table>
</center>
