<link rel="stylesheet" href="../Styles.css" />


 <div class="Sobre">
<h2>Sobre</h2>
<p>
   Estou cursando Análise e Desenvolvimento de Sistemas e desejo
          construir minha carreira na área. Tenho experiência como operadora de
          telemarketing, onde desenvolvi habilidades em comunicação, resolução
          de problemas e atendimento ao cliente. Essa vivência, aliada à
          formação técnica, me proporciona uma visão integrada entre o contato
          humano e a inovação tecnológica, com foco em melhorar a experiência do
          usuário, automatizar processos e gerar eficiência.<br><br>
<dl>
    <dt><strong>Contato:</strong></dt>
    <dd><strong>Telefone:</strong> <a href="tel:+558199297-9914">(81)99297-9914</a></dd>
    <dd><strong>Email:</strong> <a href="mailto:Carola061200@gmail.com">Carola061200@gmail.com</a></dd>
</dl>
<center>
    <div class="social-icons">
          <a
            href="https://www.linkedin.com/in/ana-carolina-sant0s/"
            target="_blank"
          >
            <img
              class="icon"
              src="https://cdn-icons-png.flaticon.com/256/174/174857.png"
              alt="LinkedIn" width="50" height="50"
            />
          </a>
          <a href="https://github.com/http-krolina" target="_blank">
            <img
              class="icon"
              src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
              alt="GitHub" width="50" height="50"
            />
          </a>
        </div>
</center>
</p>
</div>